<a href="https://colab.research.google.com/github/ccanna95168-hash/python/blob/main/10_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98%EC%99%80_%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 내장 함수 확장

In [1]:
nums=[1,-3,5,4]
print(max(nums))
print(min(nums))

5
-3

In [2]:
names = ['banana','grape','apple']
print(max(names))
print(min(names))

grape
apple

In [3]:
print(sorted(names))
print(nums)

['apple', 'banana', 'grape']
[1, -3, 5, 4]

### key 입력 사용


```
max(입력, key=함수)
max(입력, key=lambda x: x.내장함수())
```

In [4]:
nums = [1,-3,5,4]
print(sorted(nums,key=abs)) # abs()함수 : 절대값

[1, -3, 4, 5]

In [5]:
name = ['apple','kiwi','banana']
print(sorted(name,key=len)) # len()함수 : 길이로 변환

['kiwi', 'apple', 'banana']

In [6]:
names = ['BANANA','GRAPE','apple']
print(sorted(names)) # 사전 순서로 정렬, 대문자/소문자/0~9 숫자
print(sorted(names,key=str.lower)) # lower() 함수 :  소문자로 변환

['BANANA', 'GRAPE', 'apple']
['apple', 'BANANA', 'GRAPE']

In [7]:
names = [[5,6],[-30,-10,-10]]
print(max(names, key=len))
print(min(names, key=len))

[-30, -10, -10]
[5, 6]

### zip() 함수 : 둘 이상의 반복 가능한 값을 입력 받아 각각의 요소를 순서대로 묶어서 튜플 형태로 반환하는 파이선 내장 함수

In [12]:
nums = [1,2,3]
names = ['one','two','three']
for item in zip(nums,names):
  print(item)

(1, 'one')
(2, 'two')
(3, 'three')

In [13]:
nums = [1,2,3]
names = ['one','two','three']
num_strs='123'
for item in zip(nums,names,num_strs):
  print(item)

(1, 'one', '1')
(2, 'two', '2')
(3, 'three', '3')

In [14]:
nums = [1,2,3]
names = ['one','two']
for item in zip(nums,names):
  print(item)

(1, 'one')
(2, 'two')

### enumerate() 함수 :  여러 요소로 이루어진 값을 입력 받아 인덱스 값과 요소 값이 담긴 튜플 형태로 제공하는 파이썬 내장 함수

In [15]:
names = ['banana','grape','apple']
for i, name in enumerate(names,1): #1은 시작값 (없애면 0인덱스부터 시작)
  print(i,name)

1 banana
2 grape
3 apple

### isinstance() 함수 : 입력 값의 자료형을 확인할 때 사용하는 내장 함수
isinstance(값, 타입)

In [16]:
num = 41
if isinstance(num,int):
  print(f'{num} is int')

if isinstance(num,float):
  print(f'{num} is float')

41 is int

In [ ]:
nm = [3,2,1]
if

### all() 함수 : 인자로 받은 값의 모든 요소가 True 일 경우 True이며, 하나라도 False면 결과가 False 이다. and
### any() 함수 : 인자로 받은 값의 요소들 중 하나라도 True 일 경우 결과가 True이며, 모두 False이면 결과가 False 이다. or

### 문자열 format() 확장
* 1,000 자리마다 콤마 {:,}
* 소수점 자리 수 {:.2f}
* 숫자 길이 {:5}

### 자주 쓰이는 표현식
* " ".join() : 리스트나 튜플을 입력하여 구분 기호로 문자열을 결합
* A if B else C : 삼항 연산자, 만일 B가 True면 A, False면 C가 된다.
* 리스트 컴프리헨션 list comprehension : [C for A in B if ] , 규칙적인 값으로 이루어진 리스트를 생성, 조건식이 너무 복잡하면 가독성 저하됨

### if문 확장
* all(), any()를 사용한 if문
* short circuit evaluation : 먼저 등장한 논리식이 뒤의 논리식과 관계없이 전체 연산 결과를 결정할 경우 뒤의 논리식을 실행하지 않는다


```
if True or 조건: 결과가 이미 True임으로 뒤의 논리식은 계산하지 않는다
  실행코드
if False and 조건: 결과가 이미 False임으로 뒤의 논리식을 계산하지 않는다
  실행코드
```

### 반복문 확장
* 중첩 반복문


```
for i in A:
  실행코드1
  for j in B:
    실행코드2
```
* while문, for문 조합
* 중첩 반복문의 break, continue
* 반복문의 else : 반복문이 break를 만나지 않고 종료되면 실행된다


```
for i in A:
  실행코드1
else:
  실행코드2
```

* 시간 복잡도 : 입력의 크기에 따라 알고리즘이 실행되는 데에 필요한 시간의 양을 나타내는 개념. 빅오 표기법(Big O Notation)으로 표시,


```
O(1) 입력의 크기 n에 대해 관계없이 동일한 시간이 걸리는 복잡도 표현
O(n) 입력의 크기 n에 대해 선형적인 시간이 걸리는 복잡도 표현
O(nlogn) 입력의 크기 n에 대해 n*logn에 비례하는 시간이 걸리는 복잡도 표현 (log밑2)

O(n**2) 입력의 크기 n의 제곱에 비례하는 시간이 걸리는 복잡도 표현

O(n**3) 입력의 크기 n의 세제곱에 비례하는 시간이 걸리는 복잡도 표현
O(a**n) 입력의 크기 n에 지수적인 관계로 시간이 걸리는 복잡도 표현 (a>1)
```

### 조건식의 True / False
* 내용이 있는 문자열은 True, 빈 문자열은 False
* 숫자는 0이 아니면 True, 0 이면 False
* 리스트에 값이 하나 이상 있으면 True, 빈 리스트만 Fasle

### 리스트의 덧셈, 곱셈

### 문자열 비교 : 사전 순서로 대문자, 소문자, 숫자0-9 순이며, 아스키코드의 숫자 기준이다.